* {
    padding: 0;
    margin: 0;
}
body, html {
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: black;*/
    /*font-family: Arial, Ubuntu, sans-serif, color: white;*/
}
form {
    /* This form should be separated from other elements by 1em */
    margin: 1em;
    /* There must be 1em between the content and the border of this element */
    padding: 1em;
}
